# Getting started with R

## Brief history of R
- Programmers are great at naming
    - Sequel or alternative to “S” language
- Interactive (interpreted)
- Focus on statistical packages and data handling
- Released in 1995
- CRAN created, Comprehensive R Archive Network
    - 19,000+ packages

## R Syntax

In [1]:
# Basic math
print("4 * 9")
4 * 9

# Logical operators
print ("2 < 3")
2 < 3

# Data types
class(5)  # Numeric
class("Hello")  # Character
class(TRUE)  # Logical

# assignments
print("Create a vector")
v1 <- c(1,2,3,4,5)
v1
print("Second vector")
v2 = c('a','b','c','d')
v2

# Lists
lst <- list(name="John", age=30, scores=c(90, 85, 88))
lst

# Matrices
mat <- matrix(1:9, nrow=3, byrow=TRUE)
mat

[1] "4 * 9"

[1] 36

[1] "2 < 3"

[1] TRUE

[1] "numeric"

[1] "character"

[1] "logical"

[1] "Create a vector"

[1] 1 2 3 4 5

[1] "Second vector"

[1] "a" "b" "c" "d"

$name
[1] "John"

$age
[1] 30

$scores
[1] 90 85 88

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

## Working with Data in R

In [ ]:
# Creating a data frame
df <- data.frame(ID = 1:5, Score = c(90, 85, NA, 78, 92))
head(df)

# Accessing elements
df$Score
df[1, 2]  # Row 1, Column 2

# Handling missing values
mean(df$Score, na.rm=TRUE)
df_no_NA <- na.omit(df)  # Remove rows with NA

# Importing a CSV file
bodyfat <- read.csv("body_fat.csv")
head(bodyfat)

## Built in data sets in R

In [ ]:
# tell R that we want to use the built in sample data
data()

In [ ]:
# load a sample data set
data(pressure)

# display the first few rows of the data set
head(pressure)

# get some info on the data set
help(pressure)

In [ ]:
# reference a built in dataset without loading all of it
women$weight

## Basic statistical functions

In [ ]:
# Descriptive statistics
data <- c(10, 15, 20, 25, 30, 35, 40)

mean(data)  # Mean
median(data)  # Median
var(data)  # Variance
sd(data)  # Standard deviation

## R packages

In [ ]:
# install packages, only needs to be once per environment
# install.packages("ggplot2")
# install.packages("dplyr")

# tell R you are going to use a package, so load into memory
library(ggplot2)
library(dplyr)

# Using dplyr for data manipulation
df <- data.frame(Name=c("Alice", "Bob", "Charlie"), Age=c(25, 30, 28), Score=c(90, 85, 88))

# Filter rows
df_filtered <- df %>% filter(Age > 26)

# Mutate (add new column)
df <- df %>% mutate(Passed = Score > 85)

# Summarize
df_summary <- df %>% summarize(Average_Score = mean(Score))

# ggplot2 example
ggplot(df, aes(x=Name, y=Score, fill=Name)) +
    geom_bar(stat="identity") +
    theme_minimal()

## In-Class Exercises

### Exercise 1: Data Manipulation
Using the built-in `iris` dataset:
1. Load the dataset and examine its structure with `head()` and `summary()`
2. Calculate the mean and standard deviation of `Sepal.Length` for each species using `dplyr`
3. Filter the data to only include flowers where `Petal.Width > 1.0`

**Hint:** Use `group_by()` and `summarize()` from dplyr

### Exercise 2: Basic Statistics
Using the built-in `airquality` dataset:
1. Calculate the mean, median, and standard deviation of `Temp` (remember to handle NA values)
2. Create a new column called `TempCelsius` that converts `Temp` from Fahrenheit to Celsius: `(Temp - 32) * 5/9`
3. Find the month with the highest average temperature

### Exercise 3: Visualization
Using the `iris` dataset:
1. Create a scatter plot of `Sepal.Length` vs `Sepal.Width`, colored by `Species`
2. Add a title and axis labels
3. Use `theme_minimal()` for a cleaner look

In [ ]:
# Exercise 1: Data Manipulation
# Your code here


# Exercise 2: Basic Statistics  
# Your code here


# Exercise 3: Visualization
# Your code here